In [19]:
#Predicting Survival in the Titanic Data Set
#We will be using a decision tree to make predictions about the Titanic data
#set from Kaggle. This data set provides information on the Titanic
#passengers and can be used to predict whether a passenger survived or
#not.

In [92]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn
from sklearn import tree
from pandas import Series, DataFrame
from pylab import rcParams
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split


from sklearn.metrics import classification_report

In [93]:
main_file_path = 'C:/Users/OM/Downloads/titanic-train2.csv'
data = pd.read_csv(main_file_path)

In [94]:
data

     Pclass   Age  SibSp  Parch     Fare
0         3  22.0      1      0   7.2500
1         1  38.0      1      0  71.2833
2         3  26.0      0      0   7.9250
3         1  35.0      1      0  53.1000
4         3  35.0      0      0   8.0500
..      ...   ...    ...    ...      ...
886       2  27.0      0      0  13.0000
887       1  19.0      0      0  30.0000
888       3   NaN      1      2  23.4500
889       1  26.0      0      0  30.0000
890       3  32.0      0      0   7.7500

[891 rows x 5 columns]

In [95]:
data['Pclass']  = data['Pclass'] .replace(np.nan, 0)
data['Age']  = data['Age'] .replace(np.nan, 0)
data['SibSp']  = data['SibSp'] .replace(np.nan, 0)
data['Parch']  = data['Parch'] .replace(np.nan, 0)
data['Fare']  = data['Fare'] .replace(np.nan, 0)

In [96]:
y = data.Age

In [97]:
data_predictors =['Pclass','Age','SibSp','Parch','Fare']

In [98]:
data_predictors

['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [99]:
X = data[data_predictors]

In [100]:
train_X,val_X, train_y, val_y = train_test_split(X,y,random_state = 0)

In [101]:
my_model = DecisionTreeRegressor()
my_model.fit(train_X,train_y) 
val_predictions = my_model.predict(val_X)

In [102]:
print (mean_absolute_error(val_y,val_predictions))

0.043721973094170405